<% this_year=2012 %>
<% week_offset=6 %>
<% mymonth=(params[:name].chomp).to_i %>
<% first_day=Date.new(this_year,mymonth,1) %>
<% last_day=Date.new(this_year,mymonth,-1) %>
<table border=5>
<caption><%= "[#{mymonth}月]" %></caption>
<tr bgcolor=#cccccc>
<% (first_day..first_day+week_offset).each do |dayName| %>
<th><%= dayName.strftime('%a') %></th>
<% end %>
</tr>
<tr>
<%(first_day..last_day).each do |day|%>
<%if (day.day%7) == 0 then%>
<td><%=day.day%></td>
</tr>
<%elsif (day.day%7) == 1 then%>
<td><%=day.day%></td>
<%else %>
<td><%=day.day%></td>
<% end %>
<% end %>
</table>
